<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% if(user) { %>
        <p>Name: <%= user.fullname %></p>
        <p>Username: <%= user.username %></p>
        <p>Membership: <%= user.membership %></p>

        <ul>
            <h2>Your Posts</h2>
            <% if (Array.isArray(user.posts)) { %>
                <% user.posts.forEach(post => { %>
                    <li><%= post.text %></li>
                    <form action="/posts/delete?messageId=<%= post.message_id %>" method="post">
                        <button type="submit">Delete Post</button>
                    </form>
                <% }) %>
                <button onclick="location.href='/posts/new'">Create New Post</button>
            <% } else { %>
                <p>You haven't posted anything yet.</p>
                <button onclick="location.href='/posts/new'">Create New Post</button>
            <% } %>
        </ul>

        <button onclick="location.href='/users/profile/update'">Update Profile</button>
        <button onclick="location.href='/dashboard'">Dashboard</button>
        <form action="/users/log-out" method="post">
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <p>Error fetching user info.</p>
        <button onclick="location.href=/users/register">Login</button>
        <button onclick="location.href=/users/register">Sign Up</button>
    <% } %>
</body>
</html>